<section>
  <h2>Activism</h2>
  <p>This is the activism page where you can get more information on local
    organizations in Utah and how you can get involved in them. This isn't a
    comprehensive list but some notable activism spaces for a variety of ways to
    get involved in your community</p>
</section>
{{#each activismMap as |activism|}}
  <section>
    <br />
    <h3>Organization: {{activism.name}}</h3>
    <p>Cause: {{activism.cause}}</p>
    <p>Location: {{activism.location}}</p>
    <p>Hours: {{activism.hours}}</p>
    <p>Description: {{activism.description}}</p>
    <p>Contact: {{activism.contact}}</p>
    <p>Additional Info: {{activism.additional_info}}</p>
  </section>
{{/each}}